<!-- display data for a given post on dashboard -->
<article>
    <!-- post title -->
    <div>
        <h3><a href="/post/{{id}}">{{title}}</a></h3>
        <p>posted by <span class="font-italic">you</span> on <span class="font-weight-bold">{{formatDate created_at}}</span></p>
    </div>
    <!-- post info -->
    <div>
        <a href="/post/{{id}}">{{comments.length}} {{formatPlural "comment" comments.length}}</a>
    </div>
</article>