<!-- display data for a given post -->
<article>
    <!-- post title -->
    <div>
        <a href="/post/{{id}}">{{title}}</a>
        <p>posted by {{user.username}} on {{created_at}}</p>
    </div>
    <!-- post text -->
    <div>
        <p>{{text}}</p>
    </div>
</article>